* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100%;
}

nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  padding-left: 20px;
  color: black;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.burger div {
  background-color: black;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    top: 10vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(-20px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
  background-color: whitesmoke;
  height: 100%;
  color: #404a51;
  font-weight: 500;
}

.header-text {
  font-family: "Roboto", sans-serif;
  flex: 1;
  margin-left: 100px;
}

.header-text h1 {
  font-weight: 600;
}

.header-text p {
  padding: 30px 0;
  line-height: 3.5vh;
  margin-bottom: 20px;
}

.header-text a {
  background: #e8b434;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  padding: 15px 60px;
  font-weight: 600;
}

.header-laptop {
  position: absolute;
  right: 25vh;
}

.header-rectangle {
  text-align: right;
  flex: 2;
}

/* Testcode Section */

.testcode-bootcamp-section {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  color: #404a51;
  font-weight: 500;
}

.represenative-section {
  display: flex;
  align-items: flex-end;
}

.pencil-leftside-section {
  object-fit: none;
  width: 100%;
}

.testcode-right-section {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.testcode-rightside-text-section {
  display: flex;
  flex-direction: column;
}

.testcode-rightside-text-section h1,
p,
a {
  margin-top: 30px;
}

.testcode-rightside-text-section p,
a {
  padding-left: 55px;
  text-align: left;
}

.testcode-rightside-text-section p {
  line-height: 3.5vh;
  width: 55%;
  margin: 10px auto;
}

/* Buttons on Right Side */

.testcode-rightside-buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.testcode-rightside-button {
  background: #e8b434;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  width: 30%;
  padding: 15px 60px;
  text-align: center;
  font-weight: 600;
  margin-left: 10px;
}

.testcode-rightside-discount {
  text-decoration: none;
  padding-left: 10px;
}

/* Top/Bottom rightside images */

.testcode-image-section-left {
  float: left;
  margin-top: 40px;
}

.testcode-image-section-right {
  float: right;
  margin-top: 20px;
}

.testcode-images-section2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mini-bulb-rightside-section {
  object-fit: contain;
  margin-left: auto;
}

.mini-laptop-rightside-section {
  object-fit: contain;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 30px;
}

/* Our Goal Section */
.our-goals-section {
  margin-top: 75px;
  margin-left: 100px;
  font-family: "Roboto", sans-serif;
  color: #4e5a6c;
  font-weight: 500;
}

.our-goal-div1 {
  display: flex;
  background: #ebf0f6;
  border: 1px solid #81b4ec;
  border-radius: 2px;
  width: 35%;
  padding: 0 20px 20px 20px;
  margin-top: 20px;
}

.our-goal-div1 p {
  line-height: 3vh;
  padding-left: 30px;
}

.our-goal-div1 img {
  object-fit: contain;
}

.our-goal-div2 {
  display: flex;
  background: #ebf0f6;
  border: 1px solid #81b4ec;
  border-radius: 2px;
  width: 35%;
  padding: 0 20px 20px 20px;
  margin-top: 20px;
}

.our-goal-div2 p {
  line-height: 3vh;
  padding-left: 30px;
}

.our-goal-div2 img {
  object-fit: contain;
}

.our-goal-div3 {
  display: flex;
  background: #ebf0f6;
  border: 1px solid #81b4ec;
  border-radius: 2px;
  width: 35%;
  padding: 0 20px 20px 20px;
  margin-top: 20px;
}

.our-goal-div3 p {
  line-height: 3vh;
  padding-left: 30px;
}

.our-goal-div3 img {
  object-fit: contain;
}

.our-goal-div4 {
  display: flex;
  background: #ebf0f6;
  border: 1px solid #81b4ec;
  border-radius: 2px;
  width: 35%;
  padding: 0 20px 20px 20px;
  margin-top: 20px;
}

.our-goal-div4 p {
  line-height: 3vh;
  padding-left: 30px;
}

.our-goal-div4 img {
  object-fit: contain;
}

.our-goal-blue-ribbon {
  position: relative;
  width: 60%;
}

.our-goal-blue-ribbon img {
  position: absolute;
  left: 100%;
  bottom: 10vh;
}

.our-community {
  margin-top: 10%;
  padding-left: 100px;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: 500;
  background-color: whitesmoke;
  text-align: center;
}

.our-community h1 {
  line-height: 6vh;
}

.our-community p {
  color: #4e5a6c;
  width: 50%;
  margin: 0 auto;
  line-height: 3.5vh;
  padding-top: 20px;
}

.our-community-images {
  display: flex;
  justify-content: space-evenly;
}

.header-letters1 {
  background-color: #e8b434;
  width: 60%;
  z-index: 1;
  text-align: center;
  position: relative;
  top: 65%;
  margin: 0 auto;
  padding: 20px 0;
}

.header-letters2 {
  background-color: #e8b434;
  width: 60%;
  z-index: 1;
  text-align: center;
  position: relative;
  top: 65%;
  margin: 0 auto;
  padding: 20px 0;
}

/* footer Section */
.footer {
  background: #0b529f;
  display: flex;
  color: #ffffff;
  padding: 40px 0;
  margin-top: 10%;
}

.overview-container {
  width: 20%;
  margin: 0 auto;
}

.company {
  width: 20%;
  margin: 0 auto;
}

.connect-with-us {
  width: 20%;
  margin: 0 auto;
}

.social-media-icons {
  margin: 6% 10% 0 0;
}

.social-media-icons img {
  padding: 0 10px;
}

/* Tablet Media Queries */
@media only screen and (max-width: 960px) {
  header {
    display: block;
    padding-bottom: 50%;
  }
  .header-text {
    text-align: center;
    padding: 0 20px;
    margin-left: 0;
  }
  .header-text h1 {
    padding: 0 65px;
  }
  .header-text p {
    padding: 20px 80px 40px;
  }
  .header-laptop {
    position: none;
    right: none;
    width: 60%;
  }
  .header-rectangle {
    display: none;
  }

  /* start woman section */
  .testcode-bootcamp-section {
    background-color: white;
    margin-top: 100px;
  }
  .testcode-bootcamp-section {
    display: block;
  }
  .pencil-leftside-section {
    display: none;
  }
  .woman-image {
    margin: 0 auto;
    width: 60%;
    object-fit: cover;
  }
  .testcode-right-section {
    width: 80%;
  }
  .testcode-rightside-text-section h1 {
    padding-bottom: 20px;
  }
  .testcode-rightside-text-section p,
  a {
    padding-left: 0px;
    text-align: center;
  }
  .testcode-rightside-text-section p {
    line-height: 4vh;
    width: 70%;
    margin: 10px auto;
  }
  .testcode-rightside-button {
    margin: 10px auto 0;
  }
  .testcode-images-section2 {
    display: flex;
    flex-direction: row;
  }
  .mini-bulb-rightside-section {
    object-fit: contain;
    margin-left: inherit;
  }
  .mini-laptop-rightside-section {
    object-fit: contain;
    margin-right: inherit;
    margin-top: 0px;
    width: 108px;
  }
  /* end woman section */

  /* start our goals section */
  .our-goals-section {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: whitesmoke;
  }
  .our-goals-section h1 {
    margin-top: 75px;
    padding-top: 50px;
  }
  .our-goal-div1 {
    margin: 20px auto;
  }
  .our-goal-div2 {
    margin: 20px auto;
  }
  .our-goal-div3 {
    margin: 20px auto;
  }
  .our-goal-div4 {
    margin: 20px auto;
  }
  .our-goal-blue-ribbon {
    display: none;
  }
  /* end our goals section */

  /* start of dude images */
  .our-community {
    margin-top: 0%;
    text-align: center;
    padding: 50px 0 0 0;
    background-color: white;
  }
  .our-community-images {
    display: block;
  }
  .header-letters1 {
    position: relative;
    top: 330px;
    z-index: 1;
    width: 55%;
  }
  .header-letters2 {
    position: relative;
    top: 330px;
    z-index: 1;
    width: 55%;
  }
  /* end of dude images */
  .footer {
    background: #0b529f;
    display: flex;
    color: #ffffff;
    padding: 0px 0;
    margin-top: 10%;
    padding: 5% 0;
  }
  .social-media-icons {
    margin: 6% 0% 0 0;
  }
}

/* Mobile Media Queries */
@media only screen and (max-width: 768px) {
  .header-laptop {
    width: 60%;
    position: absolute;
    right: 18%;
  }
  .header-laptop img {
    width: 100%;
  }
  .our-goal-div1 {
    width: 80%;
    padding-bottom: 10%;
  }
  .our-goal-div1 p {
    line-height: 2;
  }
  .our-goal-div2 {
    width: 80%;
    padding-bottom: 10%;
  }
  .our-goal-div2 p {
    line-height: 2;
  }
  .our-goal-div3 {
    width: 80%;
    padding-bottom: 10%;
  }
  .our-goal-div3 p {
    line-height: 2;
  }
  .our-goal-div4 {
    width: 80%;
    padding-bottom: 10%;
  }
  .our-goal-div4 p {
    line-height: 2;
  }
  .our-community h1 {
    line-height: 6vh;
    padding: 0 30px;
  }
  .footer {
    background: #0b529f;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    margin-top: 10%;
    padding: 5% 0;
    text-align: center;
  }
  .overview-container {
    width: 50%;
    margin-bottom: 5%;
  }
  .company {
    width: 50%;
  }
  .connect-with-us {
    width: 50%;
  }
  .social-media-icons {
    margin: 6% 0% 0 0;
    width: 50%;
  }
}
